:root {
    --color-lighter-background: hsl(0, 0%, 95%);
    --color-darker-background:hsl(260, 8%, 14%);
    --color-button: hsl(180, 66%, 49%);
    --color-button-hover: hsl(180, 59%, 70%);
    --color-icon: hsl(257, 27%, 26%);
    --color-error: hsl(0, 87%, 67%);
    --color-primary-text-button: hsl(0, 100%, 100%);
    --color-primary-text: hsl(257, 7%, 63%);
    --color-secondary-text: hsl(255, 11%, 22%);
}

@media screen and (max-width: 600px) {

    * {
        text-align: center;
    }

    .fas {
        color: var(--color-secondary-text);
        text-decoration: none;
        display: block;
        position: absolute;
        right: 5px;
        top: 20px;
    }

    .fas:hover {
        color: var(--color-button-hover);
    }

    nav,
    nav ul {
        display: block;
    }

    .menu {
        overflow: hidden;
        position: relative;
    }

    #hidden {
        display: none;
        width: 300px;
        margin: 0 auto;
        padding: 15px;
        background-color: var(--color-icon);
        border-radius: 10px;
    }

    nav ul li{
        padding: 15px 0;
    }

    nav ul li a,
    .login a {
        padding-right: 0;
        font-size: 1rem;
        color: var(--color-primary-text-button);
    }

    nav ul li a:hover,
    .login a:hover {
        color: var(--color-button-hover);
    }    

    .menu nav a {
        margin-right: 0;
    }

    .signup {
        width: 90%;
        padding: 10px 0;
    }

    .container {
        width: 100vw;
        max-width: 599px;
    }

    .landing {
        width: 100vw;
        flex-wrap: wrap-reverse;
    }

    .landing img {
        max-width: 75%;
        margin: 0 auto;
    }

    .content {
        max-width: 85%;
        margin: 0 auto;
    }

    .container-box {
        width: 85%;
    }

    .box form input {
        width: 85%;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .box form button {
        width: 85%;
    }

    .list-details {
        flex-direction: column;
    }

    .card-icon {
        right: -140px;
    }

    .list-details h5 {
        text-align: center;
    }

    .list-details li {
        width: 375px;
        margin: 0 auto;
    }

    .list-details p {
        margin: 0 auto;
        max-width: 85%;
    }

    .advanced ul li:not(:last-child) {
        margin-bottom: 25px;
    }

    .middle::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 24.5px;
        margin: -284px 5px;
        background: var(--color-button);
    }
    
    .middle::before {
        content: "";
        position: absolute;
        width: 7px;
        height: 26px;
        margin: 225px 5px;
        background: var(--color-button);
    }

    .container-footer {
        display: flex;
        flex-direction: column;
    }

    .container-footer ul {
        padding: 10px;
    }

    .container-footer img {
        margin: 0 auto;
    }

   
}
